.hello {
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 24px 0;
  }

  h3 {
    font-size: 16px;
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #409eff;
  }
}