._body {
  width: 1000px;
  margin: 0 auto;
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  .introduce {
    margin-top: 40px;
    width: 0;
    height: 22px;
    overflow: hidden;
    p {
      font-family: Source Serif Pro, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
      margin-top: 0;
      width: 1000px;
      text-align: center;
    }
  }
  .Exhibition {
    margin-top: 40px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    div {
      width: 450px;
      height: 300px;
      p {
        font-weight: 600;
      }
      pre {
        border-radius: 5px;
        padding: 10px;
        background-color: #283e49;
        code {
          .keyword {
            color: #62b1d8;
          }
          .punctuation {
            color: #e1e6e9;
          }
          .reds {
            color: rgba(210, 0, 225, 0.444);
          }
          .hunag {
            color: #f6ae13;
          }
          .lv {
            color: rgb(10, 255, 173);
          }
          p {
            height: 10px;
          }
        }
      }
    }
  }
}
